/META-INF/
/app01a/
/app01b/
/app01c/
/app02a/
/app03a/
/app04a/
/app05a/
/app08a/
/app15a/
/app16a/
/app16b/
/app16c/
/app17a/
/app17b/
/app18a/
/app18b/
/app19a/
/app20a/
/app20b/
/app21a/
/app21b/
/app22a/
/app23a/
/app23b/
/app24a/
/customtag/
/filter/
/fragment/
/function/
/initializer/
/listener/
/servlet/
/spring-config.xml
